<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="track the best puns">
  <meta name="author" content="Aurélien Thieriot">

  <%= render 'common/styles' %>
  <%= render 'common/scripts' %>

  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">

    <%= render 'common/nav' %>

    <div class="row-fluid">
        <div class="offset1 span10">
            <div class="hero-unit">
                <h1><%= @title %></h1>

                <blockquote>
                    <%= raw(@quote) %>
                </blockquote>
            </div>

            <%= yield %>
        </div>
    </div>
</div>
</body>
</html>

