<% if @puns.empty? %>
<div class="alert">
    <strong>Hmmm!</strong> Nothing yet.
</div>
<% else %>

  <table class="table table-striped">
  <% @puns.each do |pun| %>
      <tr>
          <td>
              Texte:<br /> <em><%= pun.description %></em>
          </td>
          <td>
              <img class="thumbnail" src=<% if pun.image.blank? %> "http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" <% else %> "<%= pun.image.url %>" <% end %>>
          </td>
          <td>
              <div>
                <%= link_to up_vote_pun_path(:id => pun.id, :rate => 1), :method => :post do %> <i class="icon-chevron-up"></i> <% end %>
                <%= link_to up_vote_pun_path(:id => pun.id, :rate => -1), :method => :post do %> <i class="icon-chevron-down"></i> <% end %>

                <% if pun.rating.to_i > 0 %>
                  <span class="badge badge-success"><%= pun.rating %></span>
                <% else %>
                  <span class="badge badge-warning"><%= pun.rating %></span>
                <% end %>
              </div>

              <br />
            <%= link_to "Delete", pun_path(pun.id), :method => :delete %> <i class="icon-trash">
          </td>
      </tr>
  <% end %>
<% end %>