<%= form_for(@pun, :multipart => true) do |f| %>

  <% if flash[:message] %>
    <div class="alert alert-success"><%= flash[:message] %></div>
  <% end %>
  <% if flash[:error] %>
    <div class="alert alert-error"><%= flash[:error] %></div>
  <% end %>

  <div class="well">
  <% if @pun.errors.any? %>
    <div id="errorExplanation">
      <h3><%= pluralize(@pun.errors.count, "error") %> prohibited this post from being saved:</h3>
      <ul>
        <% @pun.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 3, :cols => 50 %>
  </div>

  <div class="fileupload fileupload-new" data-provides="fileupload">
    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" /></div>
    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
    <div>
      <span class="btn btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span>
        <%= f.file_field :image %>
      <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
    </div>
  </div>

  <%= f.submit "Add", :class => "form-actions btn btn-primary" %>
  </div>
<% end %>